* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'MicrosoftYaHei';
  color: #333;
}
html,
body {
  height: 100%;
}
ul,
ol {
  list-style: none;
}
input:focus {
  outline: none;
}
img {
  max-width: 100%;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.container .operator {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .operator >a {
  padding: 50px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.5);
  transition: opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .operator >a:active {
  background-color: #fff;
  box-shadow: 0 0 10px 10px #89c7da;
}
.container .operator .button-prev {
  background-image: url("../images/left.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center center;
}
.container .operator .button-next {
  background-image: url("../images/right.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center center;
}
.container .operator .hide {
  opacity: 0;
}
.container .content-box {
  width: 200%;
  height: 100%;
  display: flex;
  transition: transform 2s ease-in-out;
  transform: translateX(0);
  background-color: #000;
}
.container .content-box .swiper-container {
  margin: 0;
  width: 50%;
  height: 100%;
}
.container .content-box .swiper-container .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .content-box .swiper-container .swiper-slide img {
  width: 100%;
}
.container .content-box .video-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
